<template>
  <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
    <div class="w-100">
      <h1 class="mb-0">
        Cameron
        <span class="text-primary">Baney</span>
      </h1>
      <div class="subheading mb-5">
        Front-end Engineer
      </div>
      <p
        class="lead mb-5"
      >I am a front-end engineer focusing on JavaScript, Vue, Sass and semantic HTML. My experience in design and UX helps create quality user friendly websites and software.</p>
      <div class="social-icons">
        <a href="https://github.com/cameronbaney" target="_blank" rel="noopener noreferrer">
          <font-awesome :icon="['fab', 'github']"/>
        </a>
        <a href="https://github.com/cbaney" target="_blank" rel="noopener noreferrer">
          <font-awesome :icon="['fab', 'gitlab']"/>
        </a>
        <a href="https://twitter.com/cameronbaney" target="_blank" rel="noopener noreferrer">
          <font-awesome :icon="['fab', 'twitter']"/>
        </a>
        <a href="https://linkedin.com/in/cameronbaney" target="_blank" rel="noopener noreferrer">
          <font-awesome :icon="['fab', 'linkedin']"/>
        </a>
        <a href="https://codepen.io/cameronbaney" target="_blank" rel="noopener noreferrer">
          <font-awesome :icon="['fab', 'codepen']"/>
        </a>
      </div>
    </div>
  </section>
</template>

<style lang="scss" scoped>
.social-icons a {
  cursor: pointer;
  display: inline-block;
  height: 3.5rem;
  width: 3.5rem;
  background-color: var(--secondary);
  color: #fff !important;
  border-radius: 100%;
  text-align: center;
  font-size: 1.5rem;
  line-height: 3.5rem;
  margin-right: 1rem;

  @media (max-width: 380px) {
    margin-right: 0.5rem;
  }

  @media (max-width: 350px) {
    margin-right: 0.2rem;
  }
}

.social-icons a:last-child {
  margin-right: 0;
}

.social-icons a:hover {
  background-color: var(--primary);
}
</style>
