<template>
  <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
    <div class="w-100">
      <h2 class="mb-5">Education</h2>

      <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="resume-content">
          <h3 class="mb-0">Art Institute of Pittsburgh</h3>
          <div class="subheading mb-3">BS Interactive Media Design</div>
          <p>Studied UI/UX design and development, with an emphasis on development.</p>
          <p>Continuous education keeping up with the latest trends and technologies in web development by reading and staying active in the online community.</p>
        </div>
      </div>
    </div>
  </section>
</template>
