<template>
  <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
    <div class="w-100">
      <h2 class="mb-5">Experience</h2>

      <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="resume-content">
          <h3 class="mb-0">Lead Engineer</h3>
          <div class="subheading mb-3">Blackfynn</div>
          <p>Created a Vue app from the ground up to allow neuroscience researchers to manage their data. Features include: File upload system, file management, model relationship management, collaboration tools, advanced search with filters, autocomplete and suggestions</p>
          <p>Developed software using JavaScript, CSS, and Vue. Created and reinforced engineering processes, standards and systems.</p>
          <p>Created a component library alongside designers that is used across multiple applications.</p>
          <p>Helped lead sprints, grooming meetings and daily standups. Worked with product managers to set priorities and sprints.</p>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">May 2016 - Present</span>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="resume-content">
          <h3 class="mb-0">Lead Developer</h3>
          <div class="subheading mb-3">160over90</div>
          <p>Worked with creative directors, developers, and designers to create websites and interactive experiences for a variety of clients including universities and professional sports teams. Deliverables range from full WordPress websites to front-end systems.</p>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">June 2013 - May 2016</span>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="resume-content">
          <h3 class="mb-0">Interactive Director</h3>
          <div class="subheading mb-3">Mighty Engine</div>
          <p>Worked with developers, and designers to create WordPress websites for a variety of clients including non-profits, city organizations, and lawyers.</p>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">May 2012 - June 2013</span>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
        <div class="resume-content">
          <h3 class="mb-0">Front-end Developeer</h3>
          <div class="subheading mb-3">Saforian</div>
          <p>Worked with backend developers, and designers to create the front-end for Drupal websites.</p>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">February 2010 - May 2012</span>
        </div>
      </div>
    </div>
  </section>
</template>
