<template>
  <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="interests">
    <div class="w-100">
      <h2 class="mb-5">Interests</h2>
      <p>My <a href="https://instagram.com/rosiethephillypup">dog Rosie</a>, video games, foodie, sports, and exploring breweries.</p>
    </div>
  </section>
</template>
