<template>
  <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
    <div class="w-100">
      <h2 class="mb-5">Skills</h2>
      <ul class="mb-0">
        <li>JavaScript</li>
        <li>Accessible coding following WCAG</li>
        <li>GraphQL</li>
        <li>Vue</li>
        <li>JAMstack</li>
        <li>Unit testing with Jest</li>
        <li>E2E testing with Cypress</li>
        <li>Webpack/Gulp/Grunt</li>
        <li>Responsive design</li>
        <li>Version control (Git, SVN)</li>
        <li>Progressive enhancement</li>
        <li>Web standard HTML</li>
        <li>CSS</li>
        <li>Sass</li>
      </ul>
    </div>
  </section>
</template>
