<template>
  <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="uses">
    <div class="w-100">
      <h2 class="mb-5">Uses</h2>
      <div
        v-for="use in uses"
        :key="use.heading"
      >
        <h3 class="mb-2">{{ use.heading }}</h3>
        <ul class="mb-8">
          <li
            v-for="item in use.items"
            :key="item.link"
          >
            <strong>{{ item.name }}:</strong>&nbsp;<a :href="item.link">{{ item.linkCopy }}</a>&nbsp;{{ item.copy }}
          </li>
        </ul>
      </div>
    </div>
  </section>
</template>
<script>
export default {
  name: 'Uses',

  data: function () {
    return {
      uses: [
        {
          heading: 'Editor + Terminal',
          items: [
            {
              name: 'Editor',
              link: 'https://code.visualstudio.com/',
              linkCopy: 'Visual Studio Code',
              copy: ''
            },
            {
              name: 'Terminal',
              link: 'https://iterm2.com/',
              linkCopy: 'iTerm2',
              copy: ''
            },
            {
              name: 'Shell',
              link: 'https://ohmyz.sh/',
              linkCopy: 'Zsh',
              copy: ''
            },
            {
              name: 'Color scheme/editor theme',
              link: 'https://github.com/chriskempson/tomorrow-theme#tomorrow-night-eighties',
              linkCopy: 'Tomorrow Night Eighties',
              copy: ''
            },
            {
              name: 'Font',
              link: 'https://github.com/microsoft/cascadia-code',
              linkCopy: 'Cascadia Code',
              copy: ''
            },
          ]
        },
        {
          heading: 'Desktop Apps',
          items: [
            {
              name: 'Note-taking/organization',
              link: 'https://www.notion.so/',
              linkCopy: 'Notion',
              copy: ''
            },
            {
              name: 'Clipboard manager',
              link: 'https://github.com/TermiT/Flycut',
              linkCopy: 'Flycut',
              copy: ''
            },
            {
              name: 'Productivty',
              link: 'https://www.alfredapp.com/',
              linkCopy: 'Alfred',
              copy: ''
            }
          ]
        },
        {
          heading: 'Hardware + Desk',
          items: [
            {
              name: 'Laptop',
              link: 'https://www.apple.com/macbook-pro/',
              linkCopy: 'Macbook Pro',
              copy: ''
            },
            {
              name: 'Mouse',
              link: 'https://www.logitech.com/en-us/product/m705',
              linkCopy: 'Logitech Wireless Marathon Mouse M705',
              copy: ''
            },
            {
              name: 'Mousepad',
              link: 'https://steelseries.com/gaming-mousepads/qck-edge-series#qck-edge-large',
              linkCopy: 'QCK Edge',
              copy: ''
            }
          ]
        }
      ]
    }
  }
}
</script>
